/* Html elements */
/*h1,
h2,
h3 {
    font-family: sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    color: #000;
}

body {
    font-family: sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    color: #000;
    background-color: #fff;
}*/

/* Main HTML elements                                               */
body {
    font-family: sans-serif;
}

/* Title                                                            */
section.title > h1 {
    text-transform: uppercase;
    text-align: center;
}

/* Contacts                                                        */
section.contacts > h2 {
    display: none;
}

/*h2.contacts{
    font-size: 20px;
}

ul.contacts {
    list-style-type: none;
    padding: 0;
}
ul.contacts > li {
    display: inline;
    padding: 10px;
}

a.contact {
    color: #000;
}

a.contact:link,
a.contact:visited,
a.contact:active {
    text-decoration: none;
}

a.contact:hover {
    text-decoration: underline;
}*/

/* Education                                                       */
/*h2.education {
    font-size: 20px;
}

ul.education {
    list-style-type: none;
    padding-left: 10px;
}*/

/* Work Experiense                                                 */
/*h2.work-experiense {
    font-size: 20px;
}*/
