/* Main HTML elements */
html {
}

body {
    font-family: Tahoma, Geneva, sans-serif;
    margin: 0px;
    font-size: 14px;
}

/* Title section */
section.title > h1 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}

/* Contacts section */
section.contacts {
    text-align: center;
}

section.contacts > header > h2 {
    display: none;
}

ul.two-column-list {
    list-style-type: none;
    padding-left: 0px;
    margin: 0px;
}

ul.two-column-list li {
    display: inline-block;
}

span.contact-label {
    color: #888888;
    font-style: italic;
}

span.contact-value {
    color: #000000;
}

a.contact:link,
a.contact:visited,
a.contact:active {
    color: #000000;
    text-decoration: none;
}

a.contact:hover {
    color: #000000;
    text-decoration: underline;
}

/* Summary section */
section.summary {
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

section.summary > header > h2 {
    display: none;
}

section.summary > p {
    font-style: italic;
}

/* Education section */
section.education h2 {
    text-transform: uppercase;
    font-weight: 500;
}

ul.education-list > li {
    margin-bottom: 20px;
}

span.university-name {
    font-weight: bold;
    display: inline-block;
    width: 50%;
    text-align: left;
}

span.university-location {
    display: inline-block;
    width: 40%;
    text-align: right;
}

span.degree {
    display: inline-block;
    width: 50%;
    text-align: left;
    font-style: italic;
}

span.years {
    display: inline-block;
    width: 40%;
    text-align: right;
    font-style: italic;
}

/* Experience */
section.experience h2 {
    text-transform: uppercase;
    font-weight: 500;
}

ul.experience-list > li {
    margin-bottom: 20px;
}

span.company-name {
    font-weight: bold;
    display: inline-block;
    width: 50%;
    text-align: left;
}

span.company-location {
    display: inline-block;
    width: 40%;
    text-align: right;

}

span.position {
    display: inline-block;
    width: 50%;
    text-align: left;
    font-style: italic;
}

span.period {
    display: inline-block;
    width: 40%;
    text-align: right;
    font-style: italic;
}

span.description {
    display: inline-block;
    width: 85%;
}

/* Skills and Qualifications */
section.skills-and-qualifications h2 {
    text-transform: uppercase;
    font-weight: 500;
}

span.skill-label {
    font-weight: 700;
}

span.skill-value {
    display: inline-block;
    width: 90%;
}




